* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
}
.container {
    /* top: 200px;
    left: 100px; */
    width:500;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
.header {
    width: 500px;
    height: 50px;
    background-color: teal;
    margin: 10px;
    padding-top: 10px;
    display: inline-flex;
}
.user-circle {
    height: 50px;
    width:50px;
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    left: 200;
    margin-inline-start: 40px;
    font-style: normal;
}
.map-marker{
    height: 19px;
    width:12px;
    display: flex;
    position: absolute;
    top: 175px;
    left: 50px;
 

}

.city{
    position: absolute;
    top: 175px;
    left: 75px;
    font-size: 20px;
}
.job-title{
    position: absolute;
    top: 210px;
    left: 75px;
    font-size: 20px;
}

.gear{
    height: 19px;
    width:15px;
    display: flex;
    position: absolute;
    top: 260px;
    left: 50px;
}

.link{
    display: flex;
    position: absolute;
    top: 260px;
    left: 75px;
}